# gasex-python

gasex-python is a Python toolbox for calculating air-sea gas exchange. The core scripts are contained in the module "gasex".

Here, we are using a platform called Google Colab, which is free and allows you to run Python without installing it locally on your computer. Note that to run a cell you need to press SHIFT+ENTER. To edit a cell, you just need to double-click on it. The first few steps of this notebook are there specifically to set up the Google Colab environment, so if you're running this notebook locally on your computer, skip to the cell containing package imports and run from there:
```bash
import os
import sys
[...]
```

This Google Colab notebook and the repository containing it has “Read Only” access. In order to be able to modify the notebook and modify the code, you need to:
1. Save a copy of the gasex-python Github repository in your Google Drive
2. Navigate to the gasex-python folder in your Google Drive. Ensure that it contains the folder titled "gasex" as well as the "examples" folder containing this notebook.
3. If you have never used Google Colab before, you need to connect Google Colab to your Google Drive. To do that, double-click on your copy of this notebook, at the top of the page click on “Connect More Apps” and choose “Colab”. Sometimes, you need to load the webpage a few times before you see Google Colab in the app choices.

First, run the cell below to install the necessary packages in this Google Colab environment (this may take a couple of minutes).

In [1]:
%%capture
!pip install functools numpy __future__ pandas matplotlib os sys
!pip install gsw

To give this notebook access to Google Drive and the example data, run the cell below and follow the instructions to log in:

In [22]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

Now, _modify_ the text in quotes below, after cd, so that it reflects where you've saved gasex-python in your Drive:

In [3]:
cd "drive/MyDrive/gasex-python/examples"

/content/drive/MyDrive/gasex-python/examples

The next cell adds the gasex module to the current working directory and imports the key gas exchange functions ("L13" and "fsa"). If you're running this notebook locally from your computer, instead of with Google Colaboratory, start here:

In [1]:
import os
import sys
gasex_path = os.path.abspath(os.path.join('..'))
if gasex_path not in sys.path:
    sys.path.append(gasex_path)
from gasex.airsea import L13, fsa
import pandas as pd
import gsw

## Example 1: oxygen gas exchange
Calculate with the Liang et al., 2013 parameterization:

In [2]:
L13(350*1e-3, 5, 35, 10, gas="O2")

(-1.255588412703695e-06,
 3.0585299963868893e-09,
 -2.0959476329210157e-07,
 0.0014842812387608987,
 1.8463760708259574e-05)

In [3]:
# let's break it down:
(Fd,Fc,Fp,Deq,k) = L13(350*1e-3, # gas concentration in mmol/m3
    5, # wind speed in m/s
    35, # practical salinity in practical salinity units
    10, # potential temperature in degrees C
    gas="O2" # gas
    )

# print outputs
print("Fd = ", Fd, "mol m-2 s-1") # diffusive flux (positive = into ocean; mol m-2 s-1)
print("Fc = ", Fc, "mol m-2 s-1") # flux from fully collapsing small bubbles (mol m-2 s-1)
print("Fp = ", Fp, "mol m-2 s-1") # flux from partially collapsing large bubbles  (mol m-2 s-1)
print("Deq = ", Deq) # equilibrium supersaturation (unitless, %sat/100)
print("k = ", k, "m s-1") # diffusive gas transfer velocity (m s-1)
print("Fd + Fc + Fp = ", Fd + Fc + Fp, "mol m-2 s-1") # total flux (mol m-2 s-1)

Fd =  -1.255588412703695e-06 mol m-2 s-1
Fc =  3.0585299963868893e-09 mol m-2 s-1
Fp =  -2.0959476329210157e-07 mol m-2 s-1
Deq =  0.0014842812387608987
k =  1.8463760708259574e-05 m s-1
Fd + Fc + Fp =  -1.4621246459994098e-06 mol m-2 s-1

You can find out more about a function by typing a question mark in front of it:

In [4]:
?L13

Calculate with the Wanninkhof et al., 2014 parameterization. Note that the sign convention of Wanninkhof et al., 2014 is opposite to that of Liang et al., 2013:

In [5]:
fsa(350*1e-3, 10, 35, 10, gas="O2", param='W14')

3.966145419728414e-06

## Example 2: nitrous oxide gas exchange
Calculate with the Liang et al., 2013 parameterization:

In [6]:
(Fd,Fc,Fp,Deq,k) = L13(13e-6, # gas concentration in mmol/m3
    5, # wind speed in m/s
    35, # practical salinity in practical salinity units
    10, # potential temperature in degrees C
    gas="N2O", # gas
    chi_atm=3.37e-7 # atmospheric mixing ratio (must be specified for N2O)
    )

# print outputs
print("Fd = ", Fd*86400*1e6, "umol m-2 day-1") # diffusive flux (positive = into ocean; convert to umol m-2 day-1)
print("Fc = ", Fc*86400*1e6, "umol m-2 day-1") # flux from fully collapsing small bubbles (convert to umol m-2 day-1)
print("Fp = ", Fp*86400*1e6, "umol m-2 day-1") # flux from partially collapsing large bubbles  (convert to umol m-2 day-1)
print("Deq = ", Deq) # equilibrium supersaturation (unitless, %sat/100)
print("k = ", k*86400, "m day-1") # diffusive gas transfer velocity (m s-1)
print("Fd + Fc + Fp = ", (Fd + Fc + Fp)*86400*1e6, "umol m-2 day-1") # total flux (umol m-2 day-1)

Fd =  -2.888498915956542 umol m-2 day-1
Fc =  0.0004244940473749834 umol m-2 day-1
Fp =  -0.45710514508569855 umol m-2 day-1
Deq =  0.0009693558952097625
k =  1.413938875581725 m day-1
Fd + Fc + Fp =  -3.3451795669948656 umol m-2 day-1

Calculate with the Wanninkhof et al., 2014 parameterization. Note that the sign convention of Wanninkhof et al., 2014 is opposite to that of Liang et al., 2013:

In [7]:
F = fsa(13e-6, # gas concentration in mmol/m3
    5, # wind speed in m/s
    35, # practical salinity in practical salinity units
    10, # potential temperature in degrees C
    gas="N2O", # gas
    chi_atm=3.37e-7 # atmospheric mixing ratio (must be specified for N2O)
    )

# print outputs
print("F = ", F*86400*1e6, "umol m-2 day-1") # air sea gas flux (positive = out of ocean; convert to umol m-2 day-1)

F =  2.2729420665443403 umol m-2 day-1

## Example 3: import data and calculate nitrous oxide gas flux
Read in data from Kelly et al. (2021) (https://doi.org/10.1029/2020GB006637) and calculate air-sea N2O gas flux.

In [8]:
# read in data
data = pd.read_csv("exampledata.csv")

# use the gsw library to calculate potential temperature
data['pref'] = 0
data["SA"] = gsw.SA_from_SP(data['Salinity [psu]'],data['CTD_Pressure [db]'],data['Longitude [E]'],data['Latitude [N]'])
data['pt'] = gsw.pt_from_t(data["SA"],data['Temperature [C]'],data['CTD_Pressure [db]'], data['pref'])

# convert gas concentration from nM to mmol/m3
data['N2O [mmol/m3]'] = data['N2O [nM]']*1e-6

# convert atmospheric mixing ratio from ppb to mol/mol
data['XN2O [mol/mol]'] = data['XN2O [ppb]']*1e-9

# look at data
data

,Station,Cruise,Date,Latitude [N],Longitude [E],CTD_Pressure [db],CTD_Depth [m],Sigma_theta [kg/m3],Salinity [psu],Temperature [C],Temperature [K],N2O [nM],XN2O [ppb],monthlymean_SLP [atm],monthlymean_U10 [m/s],pref,SA,pt,N2O [mmol/m3],XN2O [mol/mol]
0,PS2,SR1805,Mar 27 2018,15.76666,255.000333,4.237,4.212,21.7962,34.1808,27.9473,301.0973,11.061920,331.00,0.998813,2.539497,0,34.342173,27.946305,0.000011,3.310000e-07
1,PS3,SR1805,Apr 04 2018,17.68336,257.650000,2.624,2.608,23.2343,34.5530,24.2318,297.3818,67.495099,331.59,0.998999,1.454974,0,34.716142,24.231245,0.000067,3.315900e-07
2,T1,SR1805,Mar 24 2018,12.50774,250.390000,3.000,2.983,21.2154,33.6533,28.5108,301.6608,8.559563,331.00,0.998801,5.310382,0,33.812175,28.510086,0.000009,3.310000e-07
3,T2,SR1805,Mar 25 2018,14.00732,252.499500,2.667,2.651,21.3333,33.7303,28.3276,301.4776,10.257601,331.00,0.998914,3.953975,0,33.889528,28.326968,0.000010,3.310000e-07
4,T3,SR1805,Mar 26 2018,15.11490,254.068333,3.262,3.243,21.1715,33.7075,28.7671,301.9171,10.355202,331.00,0.998905,2.685918,0,33.866629,28.766319,0.000010,3.310000e-07
5,T4,SR1805,Apr 04 2018,16.32997,255.806667,2.374,2.360,22.2228,34.4564,27.2680,300.4180,10.892172,331.59,0.999047,2.315721,0,34.619066,27.267452,0.000011,3.315900e-07
6,T5,SR1805,Apr 04 2018,16.85822,256.554000,5.762,5.728,22.2092,34.3444,27.0480,300.1980,11.695256,331.59,0.998872,2.847984,0,34.506566,27.046679,0.000012,3.315900e-07
7,T6,SR1805,2018-04-01 00:00:00,17.33186,257.191333,2.719,2.703,22.3637,34.3939,26.6779,299.8279,12.715445,331.59,0.998872,2.847984,0,34.556286,26.677283,0.000013,3.315900e-07
8,BB1,TN278,2012-03-01 00:00:00,20.15333,253.995000,2.194,2.194,23.2948,34.6520,24.2857,297.4357,11.453757,325.33,0.999141,6.193055,0,34.815599,24.285235,0.000011,3.253300e-07
9,BB2,TN278,2012-03-01 00:00:00,16.53333,252.877990,2.311,2.311,21.9760,33.8684,26.6580,299.8080,5.917854,325.33,0.999486,4.771803,0,34.028288,26.657477,0.000006,3.253300e-07

In [9]:
# calculate flux with L13
Fd,Fc,Fp = L13(data['N2O [mmol/m3]'],
               data['monthlymean_U10 [m/s]'],
               data['Salinity [psu]'],
               data['pt'],
               slp=data['monthlymean_SLP [atm]'],
               gas='N2O',
               rh=1.0,
               chi_atm=data['XN2O [mol/mol]'],
               air_temperature=data['pt'],
               calculate_schmidtair=True,
               return_vars = ["Fd","Fc","Fp"])
L13flux = (Fd + Fc + Fp)

In [10]:
# calculate flux with W14
W14flux = fsa(data['N2O [mmol/m3]'],
              data['monthlymean_U10 [m/s]'],
              data['Salinity [psu]'],
              data['pt'],
              slp=data['monthlymean_SLP [atm]'],
              gas='N2O',param="W14",
              rh=1.0,
              chi_atm=data['XN2O [mol/mol]'])

In [11]:
data['W14'] = W14flux*1e6*86400 # convert from mol/m2/s to umol/m2/day
data['L13'] = L13flux*-1*1e6*86400 # reverse sign and convert from mol/m2/s to umol/m2/day
data['L13_Fd'] = Fd*-1*1e6*86400
data['L13_Fc'] = Fc*-1*1e6*86400
data['L13_Fp'] = Fp*-1*1e6*86400

data

,Station,Cruise,Date,Latitude [N],Longitude [E],CTD_Pressure [db],CTD_Depth [m],Sigma_theta [kg/m3],Salinity [psu],Temperature [C],...,pref,SA,pt,N2O [mmol/m3],XN2O [mol/mol],W14,L13,L13_Fd,L13_Fc,L13_Fp
0,PS2,SR1805,Mar 27 2018,15.76666,255.000333,4.237,4.212,21.7962,34.1808,27.9473,...,0,34.342173,27.946305,0.000011,3.310000e-07,2.271793,5.751659,5.445580,-0.000027,0.306107
1,PS3,SR1805,Apr 04 2018,17.68336,257.650000,2.624,2.608,23.2343,34.5530,24.2318,...,0,34.716142,24.231245,0.000067,3.315900e-07,8.352519,36.049390,35.317470,-0.000003,0.731924
2,T1,SR1805,Mar 24 2018,12.50774,250.390000,3.000,2.983,21.2154,33.6533,28.5108,...,0,33.812175,28.510086,0.000009,3.310000e-07,5.148579,7.095073,5.893118,-0.000472,1.202427
3,T2,SR1805,Mar 25 2018,14.00732,252.499500,2.667,2.651,21.3333,33.7303,28.3276,...,0,33.889528,28.326968,0.000010,3.310000e-07,4.713823,8.138052,7.250536,-0.000152,0.887667
4,T3,SR1805,Mar 26 2018,15.11490,254.068333,3.262,3.243,21.1715,33.7075,28.7671,...,0,33.866629,28.766319,0.000010,3.310000e-07,2.288536,5.497742,5.175280,-0.000034,0.322496
5,T4,SR1805,Apr 04 2018,16.32997,255.806667,2.374,2.360,22.2228,34.4564,27.2680,...,0,34.619066,27.267452,0.000011,3.315900e-07,1.748025,4.823357,4.604185,-0.000019,0.219191
6,T5,SR1805,Apr 04 2018,16.85822,256.554000,5.762,5.728,22.2092,34.3444,27.0480,...,0,34.506566,27.046679,0.000012,3.315900e-07,3.059378,7.004508,6.556079,-0.000043,0.448473
7,T6,SR1805,2018-04-01 00:00:00,17.33186,257.191333,2.719,2.703,22.3637,34.3939,26.6779,...,0,34.556286,26.677283,0.000013,3.315900e-07,3.566125,8.172482,7.650034,-0.000043,0.522491
8,BB1,TN278,2012-03-01 00:00:00,20.15333,253.995000,2.194,2.194,23.2948,34.6520,24.2857,...,0,34.815599,24.285235,0.000011,3.253300e-07,11.953990,14.987579,11.873670,-0.000866,3.114775
9,BB2,TN278,2012-03-01 00:00:00,16.53333,252.877990,2.311,2.311,21.9760,33.8684,26.6580,...,0,34.028288,26.657477,0.000006,3.253300e-07,-0.513714,-0.783665,-0.658091,-0.000312,-0.125262